.gradle
/local.properties
.DS_Store
/build
/captures

.idea/
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml

TDP2Grupo9.iml
app/app.iml
facebook/facebook.iml

*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig